<div class="container">
  <div class="header">
    <h3 class="header-title">address book</h3>
    <button class="button" type="button" (click)="toggleModal()">
      Add Contact
    </button>
  </div>

  @if ((contactsData$ | async)?.length || (search$ | async)?.length) {
  <div class="filters-container">
    <input
      class="modal-input filters-search"
      type="text"
      placeholder="Type to search"
      (input)="onSearch($event)"
    />
    <select
      id="sort"
      name="Sort by"
      class="modal-input filters-sort"
      (change)="onSort($event)"
    >
      <option value="" disabled selected>Sort by</option>
      <option [value]="ContactFields.FirstName">First Name</option>
      <option [value]="ContactFields.LastName">Last Name</option>
    </select>
  </div>

  @if (!(contactsData$ | async)?.length && (search$ | async)?.length) {
  <p class="empty-state">
    No matching entries found. Reset the search and try once more.
  </p>
  } @else {
  <table class="table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for(row of contactsData$ | async; track row.id) {
      <tr>
        @for(field of contactFields; track $index) {
        <td>
          {{ row[field] || "-" }}
        </td>
        }
        <td>
          <button
            class="button small-button"
            type="button"
            (click)="deleteContact(row.id)"
          >
            Delete
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  } } @else {
  <p class="empty-state">
    Your address book is empty. Add your first contact to get started!
  </p>
  } @if (isModalOpen) {
  <app-modal (clickOnCloseButton)="toggleModal(); form.reset()">
    <h5 class="modal-title">Add Contact</h5>
    <form [formGroup]="form" (ngSubmit)="addContact()">
      <div class="modal-input-container">
        <label class="modal-input-label" for="firstName">First Name*:</label>
        <input
          class="modal-input"
          type="text"
          maxlength="80"
          placeholder="First Name"
          formControlName="firstName"
        />
        @if (form.dirty && form.get('firstName')?.hasError('required')) {
        <p class="modal-input-hint">This field is required.</p>
        }
      </div>

      <div class="modal-input-container">
        <label class="modal-input-label" for="lastName">Last Name*:</label>
        <input
          class="modal-input"
          type="text"
          maxlength="80"
          placeholder="Last Name"
          formControlName="lastName"
        />
        @if (form.dirty && form.get('lastName')?.hasError('required')) {
        <p class="modal-input-hint">This field is required.</p>
        }
      </div>

      <div class="modal-input-container">
        <label class="modal-input-label" for="phoneNumber">Phone Number:</label>
        <input
          class="modal-input"
          type="tel"
          maxlength="15"
          placeholder="+44 000 000 00 000"
          formControlName="phoneNumber"
        />
      </div>

      <button
        class="button small-button"
        type="submit"
        [ngClass]="{ 'disabled-button': form.invalid }"
        [disabled]="form.invalid"
      >
        Add Contact
      </button>
    </form>
  </app-modal>
  }
</div>
